.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(83, 83, 83, 0.4);
}

.nav-link {
  color: aliceblue;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 3px;
}

.nav-link:hover {
  color: aqua;
}
